.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-content {
    padding: 12px 16px;
    height: 100%;
  }
  &:hover .dropdown-content a {
    opacity: 100%;
  }
}

.dropdown-content a {
  opacity: 0;
  transition: opacity .2s;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
  height: 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
  transition: all .2s;
}
